XMLSchema/src/main/resources/xsd/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Address" xmlns:tns="http://www.example.org/Address" elementFormDefault="qualified">

    <element name="Address" type="tns:Address"></element>
    
    <complexType name="Address">
    	<sequence>
    		<element name="StreetNo" type="int" maxOccurs="1" minOccurs="1"></element>
    		<element name="StreetName" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="Zipcode" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>